<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
            .link-btn {
                   background-color: #1db38c;
                   color: white;
                   padding: 15px 25px;
                   text-decoration: none;
            }
            #heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}
        </style>
    </head>
    <body>   
       <p style="color: #1db38c;font-size:20px;">nipange</p>              
       {{{body}}}
       <br />        
       <p>Sent with love from nipange</p>
       <div id="heart"></div>
       <p>Copyright nipange 2021. All right reserved.<br /> Dar es Salaam</p>           
    </body>
</html>