<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
            h1 {
                color: #1db38c,
            }
        </style>
    </head>
    <body>   
       <h1>nipange</h1>              
       {{{body}}}        
       <p>Sent with love from nipange</p>
       <p>Copyright nipange 2021. All right reserved.</p>
       <p>Dar es Salaam</p>      
    </body>
</html>