<p> Hi {{name}}, </p>
<p> We've received a request to reset your password.</p>
<p> If you didn't make the request, just ignore this message.<br /> Otherwise, click the button below to reset your password.</p>
<br>
<a class="link-btn" href="https://admin.nipange.com/reset/?id={{id}}"> Reset your password</a>
<br />
<p>Thanks,<br /> The nipange team</p>
<br />
<hr />