<p> Hi {{name}}, </p>
<p> We've received a request to verify your email address.</p>
<p> If you didn't make the request, just ignore this message. Otherwise, click the button below to verify your email address.</p>
<br>
<a class="link-btn" href="https://admin.nipange.com/email/?id={{id}}"> Verify email address</a>
<br>
<br>
<p>Thanks,<br /> The nipange team</p>
<br />
<hr />